body {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  margin: 25px 150px;
}
h1,
h2,
h4 {
  margin: 0;
}
p {
  margin: 5px 0;
}
.heading-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.personal-info-container {
  display: flex;
  justify-content: space-around;
}
.links {
  margin: 10px;
}
.section-titles {
  margin: 10px 0;
}
#name-title {
  margin: 10px 0;
}
#summary-body {
  margin: 10px 0;
}

@media (min-width: 1400px) {
  body {
    margin: 25px 250px;
  }
}

@media (max-width: 805px) {
  body {
    margin: 20px 50px;
  }

  .personal-info-container {
    flex-direction: column;
    justify-content: center;
  }

  .heading-container {
    gap: 5px;
  }

  .links {
    margin: 5px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  .personal-info-container {
    flex-direction: column;
    justify-content: center;
  }

  .heading-container {
    gap: 2px;
  }

  .section-titles {
    font-size: 14px;
  }

  #summary-body {
    font-size: 14px;
  }
}
